apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: traffic
resources:
  - namespace.yaml
  - traffic.yaml

configMapGenerator:
  - behavior: create
    files:
      - traffic.sh=./scripts/traffic.sh
    name: script
    namespace: traffic
